@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: roboto;
}

.text-valid-card{
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

#imag-card li img{
    width: 50px;
    padding: 5px;
}

#validation-section{
    align-items: center;
}
.style-form{
    display: table-row;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

.cheked {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.wrong {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

#result-c , #result-w {
    display: none;
}